<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="d-flex w-100 justify-content-center">
    <%= image_tag('pokemon-logo.png',width: 300,height: 200) %>

     <%= link_to "logout", access_logout_path %>
  </div>

</nav>