<div id="<%= dom_id stat %>">
  <p>
    <strong>Base stat:</strong>
    <%= stat.base_stat %>
  </p>

  <p>
    <strong>Effort:</strong>
    <%= stat.effort %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= stat.name %>
  </p>

</div>
